{% extends "base.html" %}

{% block content %}
    <h1>Current Beers</h1>
    <h2>Draft</h2>
    {% for beer in drafts %}
        {% if forloop.first %}
            <ul>
        {% endif %}

        <li><a href="beer/{{ beer.key }}">{{ beer.name }}</a></li>

        {% if forloop.last %}
            </ul>
        {% endif %}
    {% endfor %}

    <h2>Bottle</h2>
    {% for beer in bottles %}
        {% if forloop.first %}
            <ul>
        {% endif %}

        <li><a href="beer/{{ beer.name|urlencode }}">{{ beer.name }}</a></li>

        {% if forloop.last %}
            </ul>
        {% endif %}
    {% endfor %}
{% endblock %}
